.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004643;
  padding: 1rem;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.logo {
  width: 4em;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.link {
  color: #fffffe;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1em;
  transition: opacity 0.2s ease;
}

.link:hover {
  color: #E8B358;
}

.drawer {
  background-color: #004643;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2.5em;
  gap: 0.5em;
}

@media (max-width: 758px) {
  .desktopOnly {
    display: none;
  }
}

@media (min-width: 758px) {
  .hideOnWeb {
    display: none;
  }
}
